html {
	background-color: #010101;
}

body {
	margin: 0 20%;
	padding: 0 3%;
	border-left: 10px double #101010;
	border-right: 10px double #101010;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 3px double #F9F9F9;
	padding: 0 3% 0 0;
	margin: 0 3% 0 0%;
}

menu {
	display: flex;
	list-style: none;
	text-align: center;
	padding: 0;
	width: 70%;
}

section {
	display : flex; 
	flex-direction: column;
	align-items: center;
	animation-duration: 2s;
	animation-name: slidein;
}

footer {
	display: flex;
	border-top: 1px solid #F9F9F9;
	margin: 3% 0 0 0%;
}

img {
	height: 200px;
	width: 200px;
	float: right;
	animation-duration: 2s;
	animation-name: slidein;
	transition: width 2s, height 2s;
}

img:hover {
	height: 300px;
	width: 300px;
}

h1, h2 {
	color: #F9F9F9;
	font-family: serif;
}	

h1 {
	text-align: center;
}

h2 {
	border-bottom: 1px solid #F9F9F9;
}

p, li, h4, a {
	color: #F0F0F0;
	font-family: monospace;
	line-height: 1.3;
}

li {
	flex-grow: 1;
}

hard-font {
	color: #F00000;
	font-family: sans-serif;
	text-shadow: -1px 1px red, 1px 1px red;
	animation-duration: 0.1s;
	animation-name: jig;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes slidein {
	from {
		margin-top: 100%;
		top: 200%;
	}

	to {
		margin-top: 0;
		top: 0%;
	}
}

@keyframes jig {
	from {
		text-shadow: -1px 1px red, 1px 1px red;
	}

	to {
		text-shadow: 1px -1px red, -1px -1px red;
	}
}
